body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 55, 55);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 5vh;
    color: white;
    font-size: 2rem;
}

.grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@media (max-width: 370px){
    .tic-box {
        width: 4rem;
        height: 4rem;
    }
    .scoreboard {
        width: 12rem;
    }
    img {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 600px) and (min-width: 371px){
    .tic-box {
        width: 6rem;
        height: 6rem;
    }
    .scoreboard {
        width: 18rem;
    }
    img {
        width: 80px;
        height: 80px;
    }
}
@media (min-width: 601px){
    .tic-box {
        width: 8rem;
        height: 8rem;
    }
    .scoreboard {
        width: 24rem;
    }
    h1 {
        font-size: 3rem;
    }
    img {
        width: 110px;
        height: 110px;
    }
    .icons > img {
        width: 80px;
        height: 80px;
    }
}

.tic-box {
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tic-box:hover {
    background-color: rgb(207, 207, 207);
}
.tic-box:active {
    background-color: rgb(198, 198, 198);
}

.icons,.scores {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.scores > h1 {
    margin: 0;
    font-size: 5rem;
}

.reset-div {
    display: flex;
    justify-content: center;
}
.reset-btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 10px;
    transition: color 0.3s, background-color 0.3s;
}
.reset-btn:hover {
    color: white;
    background-color: rgb(33, 33, 33);
}